<h1>ブログ一覧</h1>
<%= form_with(model: @blog, local: true) do | f | %>
  <table>
    <tr>
      <th>title: </th>
      <th>content: </th>
    </tr>
    <% @blogs.each do | blog | %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
      </tr>
    <% end %>
  </table>
  <div>
    <%= link_to "ブログ新規作成へ", new_blog_path %>
  </div>
<% end %>
